<div class="container">
<h1>Vad är Dona?</h1>
<p>Dona är en plattform som har som mål att göra det enkalt att göra väl. Oavsett om det är att skänka en slant, ge bort en gammal telefon, läsa en bok på ett äldreboende, anlita en hemlös för ett enkelt jobb, skänka dina rester till ett härbärge, skicka dina gamla kläder till behövande i Syrien, eller börja kompostera dina matrester så är denkelt fixat med Dona.</p>
<br>
<h2>Filosofi</h2>
<p>Idag är det många som skulle vilja bidra mer för att motverka fattigdom, förbättra miljön och hjälpa människor i nöd. Problemet är att det är svårt att veta hur man gör detta bäst; ska man ge pengar till någon organisation varje månad eller är det bättre att göra något annat? Är det enda jag kan göra att skänka pengar? Vårt svar är nej, självklart inte.</p>
</div>