    <div class="container">
        <h1>Contact Us</h1>
        <p class="lead">Call our 24-hour support line, or drop us an email 
          with any of your questions and we'll respond promptly!</p>
          <div class="row">
            <div class="col-md-6">
              <address>
                <strong>Dona</strong><br>
                Idungatan 4<br>
                Stockholm<br>
                Phone: +46 707384992
              </address>
              <address>
                <p>
                  <span class="glyphicon glyphicon-envelope"></span>
                  &nbsp;&nbsp;<strong>General Contact:</strong>&nbsp;
                  <a href="mailto:contact@dona.se">contact@dona.se</a>
                </p>
                <p>
                  <span class="glyphicon glyphicon-earphone"></span>
                  &nbsp;&nbsp;<strong>Customer Support:</strong>&nbsp;
                  <a href="mailto:support@dona.se">support@dona.se</a>
                </p>
                <p>
                  <span class="glyphicon glyphicon-briefcase"></span>
                  &nbsp;&nbsp;<strong>Job Inquiries:</strong>&nbsp;
                  <a href="mailto:jobs@dona.se">jobs@dona.se</a>
                </p>       
              </address>        
            </div>
          </div>
        </div>