<div class="jumbotron">
  <div class="container">
    <h1>Dona</h1>
		<h2>Det har aldrig varit enklare att göra gott</h2>
			<p>Med Dona är det enkelt att göra en insats för någon eller något behövande</p>
	</div>
</div>

<div class="container" id="content">
	<h2>Börja Dona i dag</h2>
		<p>Vi på Dona vill göra det lättare att göra gott.</p>
</div>